<?xml version="1.0" encoding="utf-8" ?>
<c2eventsheet>
    <!--All the 'name' attributes are ignored by Construct 2 - they are there for readability only.-->
    <name>menu</name>
    <events>
        <event-block sid="918791686712439">
            <conditions>
                <condition id="6" name="On object clicked" sid="436433255840349" type="Mouse">
                    <param id="0" name="Mouse button">0</param>
                    <param id="1" name="Click type">0</param>
                    <param id="2" name="Object clicked">jogar</param>
                </condition>
            </conditions>
            <actions>
                <action id="-2" name="Go to layout" sid="136892436576000" type="System">
                    <param id="0" name="Layout">Main Layout</param>
                </action>
            </actions>
        </event-block>
        <event-block sid="508376771851088">
            <conditions>
                <condition id="6" name="On object clicked" sid="236434412250180" type="Mouse">
                    <param id="0" name="Mouse button">0</param>
                    <param id="1" name="Click type">0</param>
                    <param id="2" name="Object clicked">ajuda</param>
                </condition>
            </conditions>
            <actions>
                <action id="-2" name="Go to layout" sid="164149458794360" type="System">
                    <param id="0" name="Layout">ajuda</param>
                </action>
            </actions>
        </event-block>
        <event-block sid="640690503454536">
            <conditions>
                <condition id="6" name="On object clicked" sid="385514496816013" type="Mouse">
                    <param id="0" name="Mouse button">0</param>
                    <param id="1" name="Click type">0</param>
                    <param id="2" name="Object clicked">sair</param>
                </condition>
            </conditions>
            <actions>
                <action id="1" name="Close" sid="354700433742100" type="Browser" />
            </actions>
        </event-block>
        <event-block sid="465861512436939">
            <conditions>
                <condition id="7" name="Cursor is over object" sid="245060269488370" type="Mouse">
                    <param id="0" name="Object">jogar</param>
                </condition>
            </conditions>
            <actions>
                <action id="0" name="Set cursor style" sid="591050490042795" type="Mouse">
                    <param id="0" name="Cursor style">1</param>
                </action>
            </actions>
        </event-block>
        <event-block sid="382094810755539">
            <conditions>
                <condition id="7" name="Cursor is over object" sid="911863639381561" type="Mouse">
                    <param id="0" name="Object">ajuda</param>
                </condition>
            </conditions>
            <actions>
                <action id="0" name="Set cursor style" sid="870241527373693" type="Mouse">
                    <param id="0" name="Cursor style">1</param>
                </action>
            </actions>
        </event-block>
        <event-block sid="122330865486964">
            <conditions>
                <condition id="7" name="Cursor is over object" sid="132827358639242" type="Mouse">
                    <param id="0" name="Object">sair</param>
                </condition>
            </conditions>
            <actions>
                <action id="0" name="Set cursor style" sid="589332664536317" type="Mouse">
                    <param id="0" name="Cursor style">1</param>
                </action>
            </actions>
        </event-block>
    </events>
</c2eventsheet>
